/*
 _______   ______     ______  __    __  .___  ___.  _______ .__   __. .___________.       _______ .___________.  ______ 
|       \ /  __  \   /      ||  |  |  | |   \/   | |   ____||  \ |  | |           |  _   |   ____||           | /      |
|  .--.  |  |  |  | |  ,----'|  |  |  | |  \  /  | |  |__   |   \|  | `---|  |----`_| |_ |  |__   `---|  |----`|  ,----'
|  |  |  |  |  |  | |  |     |  |  |  | |  |\/|  | |   __|  |  . `  |     |  |    |_   _||   __|      |  |     |  |     
|  '--'  |  `--'  | |  `----.|  `--'  | |  |  |  | |  |____ |  |\   |     |  |      |_|  |  |____     |  |     |  `----.
|_______/ \______/   \______| \______/  |__|  |__| |_______||__| \__|     |__|           |_______|    |__|      \______|
                                                                                                                        
*/

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.container {
  margin: 0px auto;
}

a {
  outline: none;
}

a:link, a:visited, a:hover {
  color: #000;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}




/*
 __    __   _______  __      .______    _______ .______          _______.
|  |  |  | |   ____||  |     |   _  \  |   ____||   _  \        /       |
|  |__|  | |  |__   |  |     |  |_)  | |  |__   |  |_)  |      |   (----`
|   __   | |   __|  |  |     |   ___/  |   __|  |      /        \   \    
|  |  |  | |  |____ |  `----.|  |      |  |____ |  |\  \----.----)   |   
|__|  |__| |_______||_______|| _|      |_______|| _| `._____|_______/    
                                                                         
*/

.clear {
  clear:both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}




/*
  ______   ______   .___  ___. .______     ______   .__   __.  _______ .__   __. .___________.    _______.
 /      | /  __  \  |   \/   | |   _  \   /  __  \  |  \ |  | |   ____||  \ |  | |           |   /       |
|  ,----'|  |  |  | |  \  /  | |  |_)  | |  |  |  | |   \|  | |  |__   |   \|  | `---|  |----`  |   (----`
|  |     |  |  |  | |  |\/|  | |   ___/  |  |  |  | |  . `  | |   __|  |  . `  |     |  |        \   \    
|  `----.|  `--'  | |  |  |  | |  |      |  `--'  | |  |\   | |  |____ |  |\   |     |  |    .----)   |   
 \______| \______/  |__|  |__| | _|       \______/  |__| \__| |_______||__| \__|     |__|    |_______/    

*/

.ItemCard {
  
}

.ItemDetail {
  position: relative;
  text-align: left;
  height: 72px;
}

.PrefixIcon {
  position: absolute;
  font-size: 1.6em;
  left: 16px;
  top: 10px;
}

.ItemImage {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center 16%;
}

.EditButton {
  position: relative;
  background: #3EACA8;
  border-radius: 32px;
  width: 64px;
  height: 64px;
  top: -40px;
  float: right;
  margin-right: 8px;
  font-size: 2em;
}

.EditButton i {
  position: relative;
  top: 8px;
}

.EditButton.isUnderEdit {
  background: #F05053;
}




/*
 _______  __       _______ .___  ___.  _______ .__   __. .___________.    _______.
|   ____||  |     |   ____||   \/   | |   ____||  \ |  | |           |   /       |
|  |__   |  |     |  |__   |  \  /  | |  |__   |   \|  | `---|  |----`  |   (----`
|   __|  |  |     |   __|  |  |\/|  | |   __|  |  . `  |     |  |        \   \    
|  |____ |  `----.|  |____ |  |  |  | |  |____ |  |\   |     |  |    .----)   |   
|_______||_______||_______||__|  |__| |_______||__| \__|     |__|    |_______/    

*/

.materialShadow {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.itemContent {
  margin: 8px 16px 0px 0px;
}

.entryText {
  position: absolute;
  left: 72px;
  top: 16px;
}

.entryText.title {
  font-weight: 700;
  font-size: 1.2em;
}

.entryText.notes {
}




/*
 _______   ______   .__   __. .___________.    _______.
|   ____| /  __  \  |  \ |  | |           |   /       |
|  |__   |  |  |  | |   \|  | `---|  |----`  |   (----`
|   __|  |  |  |  | |  . `  |     |  |        \   \    
|  |     |  `--'  | |  |\   |     |  |    .----)   |   
|__|      \______/  |__| \__|     |__|    |_______/    
                                                       
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');




/*
  ______   ______    __        ______   .______          _______.
 /      | /  __  \  |  |      /  __  \  |   _  \        /       |
|  ,----'|  |  |  | |  |     |  |  |  | |  |_)  |      |   (----`
|  |     |  |  |  | |  |     |  |  |  | |      /        \   \    
|  `----.|  `--'  | |  `----.|  `--'  | |  |\  \----.----)   |   
 \______| \______/  |_______| \______/  | _| `._____|_______/    
                                                                                                                                                                                                                                                                                      
*/
