/*
 _______   ______     ______  __    __  .___  ___.  _______ .__   __. .___________.       _______ .___________.  ______ 
|       \ /  __  \   /      ||  |  |  | |   \/   | |   ____||  \ |  | |           |  _   |   ____||           | /      |
|  .--.  |  |  |  | |  ,----'|  |  |  | |  \  /  | |  |__   |   \|  | `---|  |----`_| |_ |  |__   `---|  |----`|  ,----'
|  |  |  |  |  |  | |  |     |  |  |  | |  |\/|  | |   __|  |  . `  |     |  |    |_   _||   __|      |  |     |  |     
|  '--'  |  `--'  | |  `----.|  `--'  | |  |  |  | |  |____ |  |\   |     |  |      |_|  |  |____     |  |     |  `----.
|_______/ \______/   \______| \______/  |__|  |__| |_______||__| \__|     |__|           |_______|    |__|      \______|
                                                                                                                        
*/

.App {
  text-align: center;
}

.container {
  width: 375px;
  margin: 0px auto;
}


/*
 __    __   _______  __      .______    _______ .______          _______.
|  |  |  | |   ____||  |     |   _  \  |   ____||   _  \        /       |
|  |__|  | |  |__   |  |     |  |_)  | |  |__   |  |_)  |      |   (----`
|   __   | |   __|  |  |     |   ___/  |   __|  |      /        \   \    
|  |  |  | |  |____ |  `----.|  |      |  |____ |  |\  \----.----)   |   
|__|  |__| |_______||_______|| _|      |_______|| _| `._____|_______/    
                                                                         
*/

.clear {
  clear:both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}




/*
  ______   ______   .___  ___. .______     ______   .__   __.  _______ .__   __. .___________.    _______.
 /      | /  __  \  |   \/   | |   _  \   /  __  \  |  \ |  | |   ____||  \ |  | |           |   /       |
|  ,----'|  |  |  | |  \  /  | |  |_)  | |  |  |  | |   \|  | |  |__   |   \|  | `---|  |----`  |   (----`
|  |     |  |  |  | |  |\/|  | |   ___/  |  |  |  | |  . `  | |   __|  |  . `  |     |  |        \   \    
|  `----.|  `--'  | |  |  |  | |  |      |  `--'  | |  |\   | |  |____ |  |\   |     |  |    .----)   |   
 \______| \______/  |__|  |__| | _|       \______/  |__| \__| |_______||__| \__|     |__|    |_______/    

*/

.ItemCard {
  width: 480px;
  margin: 32px auto;
}

.ItemDetail {
  position: relative;
  text-align: left;
  margin: 30px 0px;
  height: 20px;
}

.PrefixIcon {
  position: absolute;
  font-size: 1.6em;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -30px;
}

.ItemImage {
  height: 280px;
  background-size: 280px cover;
}




/*
 _______  __       _______ .___  ___.  _______ .__   __. .___________.    _______.
|   ____||  |     |   ____||   \/   | |   ____||  \ |  | |           |   /       |
|  |__   |  |     |  |__   |  \  /  | |  |__   |   \|  | `---|  |----`  |   (----`
|   __|  |  |     |   __|  |  |\/|  | |   __|  |  . `  |     |  |        \   \    
|  |____ |  `----.|  |____ |  |  |  | |  |____ |  |\   |     |  |    .----)   |   
|_______||_______||_______||__|  |__| |_______||__| \__|     |__|    |_______/    

*/

.entryText {
  position: absolute;
}

.itemContent {
  margin-left: 40px;
}




/*
  ______   ______    __        ______   .______          _______.
 /      | /  __  \  |  |      /  __  \  |   _  \        /       |
|  ,----'|  |  |  | |  |     |  |  |  | |  |_)  |      |   (----`
|  |     |  |  |  | |  |     |  |  |  | |      /        \   \    
|  `----.|  `--'  | |  `----.|  `--'  | |  |\  \----.----)   |   
 \______| \______/  |_______| \______/  | _| `._____|_______/    
                                                                                                                                                                                                                                                                                      
*/
